<!-- footer.html -->
<footer>
  <div class="container">
    <div class="footer__block">
      <div class="footer__column">
        <h3 class="footer__heading">Контакты</h3>
        <ul class="footer__list">
          <li class="footer__item">+7 949 504 97 77</li>
          <li class="footer__item">+7 949 504 96 87</li>
          <li class="footer__item">o.zarko@mail.ru</li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="footer__heading">Теги</h3>
        <ul class="footer__list">
          <li class="footer__item">Лепнина Донецк</li>
          <li class="footer__item">Лепнина ДНР</li>
          <li class="footer__item">Гипсовые изделия</li>
          <li class="footer__item">Монтаж лепнины Донецк</li>
          <li class="footer__item">Гипсовый декор Донецк</li>
          <li class="footer__item">Интерьеры Донецк</li>
          <li class="footer__item">Гипс Донецк</li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="footer__heading">Каталог</h3>
        <ul class="footer__list">
          <li class="footer__item">Интерьер</li>
          <li class="footer__item">Декор</li>
          <li class="footer__item">Фасад</li>
          <li class="footer__item">Коммерция</li>
          <li class="footer__item">Спецпроекты</li>
          <li class="footer__item">Индивидуальные</li>
          <li class="footer__item">Прочее</li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="footer__heading">Сайт</h3>
        <ul class="footer__list">
          <li class="footer__item">Главная</li>
          <li class="footer__item">О нас</li>
          <li class="footer__item">Работы</li>
          <li class="footer__item">Вопросы</li>
          <li class="footer__item">Видео-обзор</li>
          <li class="footer__item">Контакты</li>
        </ul>
      </div>
    </div>
    <div class="footer__copy">
      <p>Донецк 2024, Все права защищены</p>
    </div>
  </div>
</footer>
